// --------------------------------------------------
// SETTING FOR GLOBAL STYLE
// --------------------------------------------------

/**
  * Breakpoints
  * 
  */
$breakpoint-lg:                       '1024px'; 
$breakpoint-xl:                       '1400px';
$breakpoint-xxl:                      '1600px';

/**
  * Colors
  * 
  */
$black:                                #000;
$white:                                #FFF;

$primary-color:                        #E60000;
$secondary-color:                      lighten($black, .98%); // #020202
$tertiary-color:                       #282D30;

$blue:                                 rgba(74, 184, 255, .1); // #4AB8FF1A
$dark:                                 rgba(32, 37, 58, .85); // 20253AD9
$gray:                                 #9B9EAC;
$gray-light:                           rgba(196, 196, 196, .5);
// $gray-light:                             lighten($black, 77%); // #C4C4C4
$mauve:                                rgba(253, 81, 129, .15); // #FD518124;
$pink:                                 lighten($primary-color, 50%); // #FFE6E6
$yellow:                               rgba(249, 206, 35, .2); // #F9CE2333;

/**
  * Typography
  * 
  */
$font-family-txt:                      'Roboto', sans-serif;

$font-size-init:                       16px;
$font-size-normal:                     1em;

$line-height-normal:                   1;

/**
  * .body
  * 
  */
$font-size-body:                       $font-size-init;
$font-style-body:                      normal;
$font-weight-body:                     400;
$line-height-body:                     $line-height-normal * 1.188;
$color-body:                           $black;
$bg-color-body:                        $white;

/**
  * Other bases
  * 
  */

//== h1 ==
$font-size-h1-user-lg:                 $font-size-normal * 3;
$font-size-h1-user-line-height:        $line-height-normal * 1.5;
$font-weight-h1-user:                  500;
$font-size-h1-firstname-color:         $primary-color;

//== p ==
$font-size-p-user-lg:                  $font-size-normal * 1.125;
$font-size-p-user-line-height:         $line-height-normal * 1.5;

// --------------------------------------------------
// COMPONENTS
// --------------------------------------------------

//== Key data card ==
$font-size-keydata-value:              $font-size-normal * 1.25;
$font-weight-keydata-value:            700;
$font-weight-keydata-title:            500;
$color-keydata-title:                  #74798C;
$bg-color-calories:                    $pink;
$bg-color-proteins:                    $blue;
$bg-color-carbohydrates:               $yellow;
$bg-color-lipids:                      $mauve;

//== Radial bar chart ==
$font-size-score:                      $font-size-normal;
$font-weight-score:                    700;
$color-p-score:                        $dark;

//== Grouped bar chart ==
$font-size-bar-chart:                  $font-size-normal * 1.4;
$font-size-bar-chart-tooltip:          $font-size-normal * .687;
$font-weight-bar-chart:                700;
$color-bar-chart:                      $gray;
$color-bar-chart-tooltip:              $white;
$bg-color-bar-chart-tooltip-bar:       $gray-light;
$bg-color-bar-chart-tooltip-activity:  $primary-color;

//== Radar chart ==
$font-size-radar-chart:                $font-size-normal * .675;
$fill-radar-chart:                     $white;
$fill-radar-chart-main-polygon:        $primary-color;
$stroke-radar-chart-axis-polygon:      $white;
$stroke-radar-chart-axis-line:         $black;
$bg-color-radar-chart:                 $tertiary-color;
