.profile {
  h1 {
    font-size: $font-size-h1-user-lg;
    font-weight: $font-weight-h1-user;
    line-height: $font-size-h1-user-line-height;

    span {
      &:last-child {
        margin-left: .5rem;
        color: $font-size-h1-firstname-color;
      }
    }
  }

  p {
    font-size: $font-size-p-user-lg;
    line-height: $font-size-p-user-line-height;
  }

  .key-data-card {
    p {
      font-weight: $font-weight-keydata-value;
    }

    small {
      font-weight: $font-weight-keydata-title;
      color: $color-keydata-title;
    }
  }

  .line-chart {
    text {
      font-size: $font-size-line-chart-text;
      fill: $fill-text;
    }
  }

  .tooltip-session {
    span {
      font-size: $font-size-line-chart-tooltip;
      text-align: center;
      font-weight: $font-weight-line-chart-tooltip;
    }
  }

  .bar-chart{
    .tick {
      text {
        font-size: $font-size-bar-chart;
        font-weight: $font-weight-bar-chart;
      }
    }

    .tooltip-activity {  
      span {
        font-size: $font-size-bar-chart-tooltip;
        color: $color-bar-chart-tooltip;
      }
    }
  }

  .radar-chart {
    text {
      font-size: $font-size-radar-chart;
    }
  }

  .radial-chart {
    fill: $fill-radial-chart;

    &__title {
      font-size: $font-size-radial-chart-title;
      font-weight: $font-weight-radial-chart-title;
      fill: $fill-radial-chart-title;
    }
  
    .score {
      text-anchor: middle;
  
      &__top {
        font-size: $font-size-radial-chart-score;
        font-weight: $font-weight-radial-chart-score;
        fill: $fill-radial-chart-score;
      }
  
      &:not(.score__top) {
        font-size: $font-size-radial-chart-text;
        font-weight: $font-weight-radial-chart-text;  
      }
    }
  }
}