.profile {
  h1 {
    font-size: $font-size-h1-user-lg;
    font-weight: $font-weight-h1-user;
    line-height: $font-size-h1-user-line-height;

    span {
      &:last-child {
        margin-left: .5rem;
        color: $font-size-h1-firstname-color;
      }
    }
  }

  p {
    font-size: $font-size-p-user-lg;
    line-height: $font-size-p-user-line-height;
  }

  .key-data-card {
    p {
      font-weight: $font-weight-keydata-value;
    }

    small {
      font-weight: $font-weight-keydata-title;
      color: $color-keydata-title;
    }
  }
  .graphics__score {
    p {
      font-size: $font-size-score;
      font-weight: $font-weight-score;
      color: $color-p-score;
    }
  }

  .tooltip {
    p {
      font-size: .8em;
      text-align: center;
      font-weight: 500;
    }
  }

  .bar-chart{
    .tick {
      text {
        font-size: $font-size-bar-chart;
        font-weight: $font-weight-bar-chart;
      }
    }

    .tooltip-activity {  
      span {
        font-size: $font-size-bar-chart-tooltip;
        color: $color-bar-chart-tooltip;
      }
    }
  }

  .radar-chart {
    text {
      font-size: $font-size-radar-chart;
    }
  }
}