.bar-chart {
  .tick {
    text {
      fill: $color-bar-chart;
    }

    line {
      stroke: $color-bar-chart;
      stroke-opacity: .5;
      stroke-dasharray: 2.2;
    }

    &:first-of-type {
      line {
        stroke-dasharray: none;
      }
    }
  }

  .tooltip-bar {
    fill: $bg-color-bar-chart-tooltip-bar;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .tooltip-activity {
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: $bg-color-bar-chart-tooltip-activity;
    }
  }
}