.line-chart {
  border-radius: 5px;
  fill: $fill-line-chart;
  background-color: $bg-color-line-chart;

  .tooltip-dot {
    opacity: 0;
    pointer-events: none;

    &.visible {
      opacity: 1;
    }
  }

  rect {
    opacity: 0;

    &.tooltip-rect {
      fill: #E60000;

      &.visible {
        opacity: .35;
      }
    }
  }
}