.user-dashboard {
  width: 100%;

  > div {
    min-width: $breakpoint-lg;
    min-height: 780px;
    max-width: $breakpoint-xxl;
    margin-top: 2.75rem;

    div {

      &.dashboard-header {
        width: 75%;
        margin: 0 auto;
        padding-bottom: 1rem;
        
        h1 {
          margin-bottom: 1rem;
        }
      }}
  }
}