.graphics {
  display: flex;
  min-height: 32rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 75%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 4rem;

  &__key-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .blocks {
    display: flex;
    gap: 1rem;
  
    &__sessions {
      position: relative;
    }
  }
}